.container{
  width: 100%;
  height: 80px;
  display: flex;
  color: #434752;
  background: var(--background-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.dataAtual{
  width: 20%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.dataAtual p{
  margin-right: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.conteudo {
  display: flex;
 align-items: center;
    justify-content: space-between;
/* flex-wrap: wrap; */
  width: 88%;
  height: 80px;
  max-height: 100%;
}

.logo{
display: flex;
flex-direction: row;
align-items: baseline;
}
.logo h2{
   font-size: 2rem;
}

.logo img {
  /* padding: 0.25rem 0; */
  margin-left: 2rem;
  width: 4rem;
  display: flex;
  align-items: center;
}

.menu div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu button{
  margin-bottom: 1rem;
}

.dropdown{
  display: none;
  width: 24px;
  height: 30px;
  color: var(--background);
}

.dropdown hr{
  height: 0.3rem;
  width: 2.3rem;
  margin: 5px 0;
  background: var(--background);
  border: 0;
  border-radius: 20px;
}

.menu div ul{
  display: flex;
}

.menu li {
  margin-left: 1.2rem;
  margin-right: 1rem;
  list-style-type: none;
  color: var(--background)
}

.menu a {
  display: inline-block;
  padding: 12px;

  font-size: 1.2rem;
  font-weight: 400;

  transition: all 0.1s;
}

.menu a:hover {
  border-radius: 30px;
  cursor: pointer;
  transform: scale(1.03);
  color: var(--background-dark);
}

@media (max-width: 1080px){
  .menu li{
      margin: 0 auto;
  }
}



@media (max-width: 880px) {
  .conteudo {
      height: 10rem;
    justify-content: space-around;


  }

  .menu div button i { 


   display: flex;
   width: 4rem;
   align-items: center;
   margin-left: 1rem;
   color: rgb(75, 70, 75);
   

  }

  .logo{
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    height: 100%;

    
  }

  .logo img{
       width: 3rem;
       margin-bottom: 0.7rem;
         padding: 0.25rem 0;
    /* display: none;    */
  }

  .dropdown{

      position: absolute;
      left: 1rem;
      background-color: deeppink;
           
      display: block;
      width: 50px;
      height: 10px;
      margin-left: 0.2rem;
      background: none;
      border: none;
      outline: none;
      /* align-content: center; */
  }

  .menu div ul{
      display: none;
      position: absolute;
      left: 1rem;
      top: 4rem;
      background: var(--white);
      color: var(--text);
      z-index: 1;
  }

  .menu div ul li a:hover{
      background: var(--gray-hover);
  }
  .dataAtual p{
    font-size: 0.8rem;
  }
}

@media (max-width: 630px){
  .conteudo{
    width: 90%;

  }
  .dataAtual{
    width: 30%;
  }
}
