.about{
  display: flex;
  width: 100%;
  justify-content: space-around;

}

.txt{

padding-left: 3rem;

}

.about h2{
  font-size: 2rem;
  color: #224D88;
  margin-top: 2rem;
}

.about h3{
  font-size: 1.5rem;
  color: #224D88;
}

.about span{
  font-size: 1.3rem;  
  color: var(--background);
}

.about p{
  font-size: 1.1rem;
  text-align: justify;
  color: #747780;
  margin-top: 0.6rem;
}
.imgAbout img{
  width: 38rem;
  padding: 3rem;
  /* margin-left: 5rem; */
  /* margin-right: 1rem; */
}


@media(max-width: 1100px){

  .about{
    display: flex;
    flex-direction: column;
  }

  .imgAbout {
    
    display: none;
  }

  .txt{

    padding:2rem;
    
    }

.txt h2:first-child{

  display: none;
}




}