.container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
    margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.container h3{
  color: #224D88;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 3rem;
}


.dev{
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;

}


.imgDev img{
  width: 100%;
}

.block{
  border-bottom: 3px solid #224D88;
  padding: 1rem;
  display: block;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);

}

.block h2{
  font-size: 2rem;
  color: #224D88;
}

.block p{
  font-size: 1rem;
  color: var(--background);
}

.imgConnected img{
  width: 6rem;
}

.Inov{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 3rem;
  margin-bottom: 2rem;
}

.Inov h3{
  font-size: 1.6rem;
  color: #224D88;
}

.Inov p{
  font-size: 1.4rem;
  text-align: justify;
  color: #747780;
  margin-top: 0.6rem;
  width: 80%;
}

.imgInov img{
  width: 70%;
  margin: 1.6rem;
}

.celular img{
  width: 40%;
  padding-left: 2rem;
}

@media(max-width: 1600px){
  .Inov h3{
    font-size: 1.2rem;
  }
  
  .Inov p{
    font-size: 1rem;
  }
  .celular img{
    width: 45%;
    padding-left: 2rem;
    margin-bottom: -4rem;
  }
}

@media(max-width: 1400px){
  .Inov{
    margin-bottom: 1rem;
  }
  .celular img{
    width: 60%;
    margin-bottom: -2rem;
  }

  .Inov h3{
    font-size: 1.3rem;
  }
  
  .Inov p{
    font-size: 1.1rem;
  }
}

@media(max-width: 1200px){
  .container h3{
    font-size: 2rem;
    margin-top: 0.6rem;
  }
  .dev{
    padding-left: 1rem;
    justify-content: center;
  }
  .imgDev{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgDev img{
    width: 80%;
  }
  .imgConnected img{
    width: 6rem;
  }
  .block{
    margin-top: 2rem;
  }
  
  .block h2{
    font-size: 1.8rem;
    color: #224D88;
  }
  
  .block p{
    font-size: 1rem;
    color: var(--background);
  }
  .Inov{
    width: 100%;
    display: flex;
    flex-direction: column;
   padding: 2rem;
    align-items: center;
    justify-content: center;
  }
  .Inov h3{
    width: 100%;
  }
  .Inov p{
    width: 100%;
    padding-right: 1rem;
  }
  .imgInov{
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .imgInov img{
    margin: 1.6rem;
    width: 70%;
    display: flex;
  }
  .celular{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .celular img{
    width: 50%;
  }
}

@media(max-width: 760px){
  .container h3{
    font-size: 1.6rem;
  }

  .imgInov{
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .imgInov img{
    margin: 1rem;
    width: 80%;
    display: flex;
  }

  .imgConnected img{
    width: 3rem;
  }
  .celular img{
 display: none;
  }
}

@media(max-width: 500px){

  .container h3{

    font-size: 1.2rem;

  }

}
