.container{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--background-white);
  display: flex;
}

.content{
  width: 100%;
  height: 100%;
}

.sliderContent{
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.img_1 img{
  width: 18%;
  position: absolute;
  z-index: 1;
  margin: 8rem 0 0 4.6rem;
}

.img_2 img{
  width: 100%;
  z-index: 0;
}


.footer{
  width: 100%;
  display: block;
}

.dev{
  width: 100%;
}

.linha{
  width: 85%;
  height: 2px;
  background: #224D88;
  margin-left: 8rem;
}

.painel{
  width: 100%;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;} 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.fadeIn {
  -webkit-animation: fadeIn 1.2s ease-in-out;
  -moz-animation: fadeIn 1.2s ease-in-out;
  -o-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

 @media(max-width: 400px){
  .container {
      width: 100%;
  }
  .painel img{
    width: 10rem;
  } 
 }

 @media(max-width: 2000px){
  
.cardsInicio{
  display: flex;
  flex-direction:row ; 
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;   
} 

 }

 @media(max-width: 1200px){
  
  .cardsInicio{
    display: flex;
    flex-direction:column ; 
     } 
  
  
   }
  
  
  .about{
    display: flex;
    flex-direction: column;
  }

  .txt{
    display: flex;
    flex-direction: column;
  }

  .dev{
    display: flex;
    flex-direction: column;
  }

  .Inov{
    display: flex;
    flex-direction: column;
  }

  .txt{
    display: flex;
    flex-direction: column;
  }

  .clientes{
    display:flex;
    flex-direction: column;
  }

  .clientes img{
    margin-top: 3rem;
  }

  .gridImages{
    display:flex;
    flex-direction: column;
  }
 


