.container{
  background: var(--background);
  width: 100%;
  justify-content: space-around;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.container span:first-child{
  margin-left: 0;
}



.container main{
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}

.contatos{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}

.contatos p{
  font-size: 1rem;
  text-align: left;
}

.contatos strong{
  font-size: 1rem;
}

.contatos span{
  font-size: 1rem;
  text-align: left;
  font-weight: bolder;
}

.contatos i{
  margin-right: 1rem;
}

.sobre{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sobre p{
  font-size: 1rem;
  margin-left: 1rem;
}

/* Copyright ------------------------------------------------------------------------------------------------------- */ 

.copyright{
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--background-dark);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.copyright p:first-child{
  font-size: 1rem;
  color: var(--gray-line);
}

.copyright p:last-child{
  color: var(--text);
  font-size: 1rem;
}

@media(max-width: 400px){
  .container{
    width: 100%;
  }
  .container main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
  }
  .contatos{
    padding-top: 1rem;
  }
  .contatos p{
    margin: 0;
    text-align: center;
  }
  .sobre{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .copyright p:first-child{
    font-size: 0.8rem;
  }
  .copyright p:last-child{
    font-size: 0.8rem;
  }
}

@media(max-width: 650px) {
  .container main{
    padding: 1rem;
  }
  .sobre i{
    margin-right: 1rem;
  }
}

@media(max-width: 600px) {
  .container i{
    display: none;
  }
  .container main{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .contatos{
    margin: 0;
  }
  .copyright p:first-child{
    font-size: 0.8rem;
    padding-right: 1rem;
  }
  .copyright p:last-child{
    font-size: 0.8rem;
  }
  .container span{
    font-size: 0.8rem;
  }
}